.carousel-inner img {
    width: 100%;
	height: 100%;
	}
.color {
  
	background-image: url("../img/mainBackground.jpg");
	background-repeat: no-repeat;
	background-size:100%;
	background-attachment: fixed;
	max-width: 100%;
	width: 100%;
    
    }
    
    
    
    .nav-items{
	text-align: left;
	
}
    
    
    
    
.jumbotron {   
    text-align: center;
    
    }
    
    
   /*recuerda 1280x720*/
.hollowbackground {
	background-image: url("../img/HollowBackground.jpg");
	background-repeat: no-repeat;
	background-size:100%;
	background-attachment: fixed;
	max-width: 100%;
	width: 100%;
    }

.portalbackground {
	background-image: url("../img/portalBackground.jpg");
	background-repeat: no-repeat;
	background-size:100%;
	background-attachment: fixed;
	max-width: 100%;
	width: 100%;
    }
    
    .darkbackground {
	background-image: url("../img/darkBackground.jpg");
	background-repeat: no-repeat;
	background-size:100%;
	background-attachment: fixed;
	max-width: 100%;
	width: 100%;
    }
    
    .enderbackground {
	background-image: url("../img/enderBackground.jpg");
	background-repeat: no-repeat;
	background-size:100%;
	background-attachment: fixed;
	max-width: 100%;
	width: 100%;
    }
    
    
    .oribackground {
	background-image: url("../img/oriBackground.jpg");
	background-repeat: no-repeat;
	background-size:100%;
	background-attachment: fixed;
	max-width: 100%;
	width: 100%;
    }
    
    .nierbackground {
	background-image: url("../img/nierBackground.jpg");
	background-repeat: no-repeat;
	background-size:100%;
	background-attachment: fixed;
	max-width: 100%;
	width: 100%;
    }



/*profe si llega a leer esto la verdad yo queria hacer un boton que no referenciara la pagina de youtube, sino que en el mismo lugar 
me reprodusca la musica como una barrita que ademas mostrara un avance, pero no pude lograr eso, si tiene alguna idea aparte de como lograr eso se lo agaradeceria,
no encontre ninguno que me resultara*/








.col-sm-8 {
	
	margin-left:320px;
	background-position: center;
	background-color: #1a1e23;
	
    }
	
p{

  font-family: arial, sans-serif;
	
color:white;

}
	
h2{
	 font-family:"times new roman", serif;
color:white;
	
}	

.h2false{
	 font-family:"times new roman", serif;
color:white;
padding-left:48px;	
}	

.h3soundtrack{
	 font-family:"times new roman", serif;
color:white;
padding-left:100px;
padding-top:230px;	
}	

.grid-container{
	
	width:100%;
}
.grid-item {
        width:100%;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: 1fr;
        gap: 30px;
        padding-top:200px;
        
        background-color: rgba(65, 59, 59, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        color: white;
        padding: 20px;
        text-align: center;
        border-radius: 10px;
    }



    .grid-Tabla {
	 
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      padding: 10px;
    
    }