<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		
		<script th:src="@{/js/jquery/jquery-3.6.0.js}"></script>
		<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
	</head>
	<body class="darkbackground">
		<div class="container-fluid">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<!-- Brand/logo -->
			<a class="navbar-brand" href="index">menu</a>

			<!-- Links -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="listaJuegos">lista</a>
				</li>
			
				<li class="nav-items">
					<a class="nav-link" th:href="@{/logout}">Cerrar sesión</a>
				</li>
			</ul>
		</nav>



 <div class="col-sm-8"  >
      <h2>DARK SOULS 3</h2>
     
     
      
      <p>La banda sonora original de Dark Souls	fue compuesta e interpretada por Yuka Kitamura y Motoi Sakuraba.
       Se divide en dos álbumes, uno para el juego original y otro recopilando las nuevas pistas compuestas para los 2 paquetes de contenido(DLC). 
       En 2017 finalmente sacaron una version del juego donde viene toda la musica junta en una sola.</p>
       
       <h3 class="h2false">Descripcion</h3>
       

<div class="row m-5   ">
			<div class="row">
				<div class="col-lg-4 mb-4">
					
					<img class="w-100 mb-4" th:src="@{/img/darkSoundtrack.jpg}">
			
<p>Fechas de lanzamiento:<br>Lanzamiento digital: Febrero  2019 (spotify), marzo  2016(youtube), febrero 28, 2019 (applemusic)<br>
Lanzamiento de Vinilo : 2017</p>
<p>Creditos Adicionales:<br>
none</p>
                
                </div>
				<div class="col-lg-4 mb-4 ">
				<p>El protagonista, el personaje al que se da vida en este título, es uno de los que llaman "Latentes"; estas personas son humanos que consiguieron
				 llegar al horno de la Primera Llama. Cuando los Señores de la Ceniza no quieren volver a prolongar la Era de los Dioses y abandonar sus tronos, 
				 los Latentes deben ir apor ellos para matarlos y devolver sus cenizas a los Tronos, y el Latente que lo consiga, deberá, como última parte del plan, inmolarse él mismo, 
				 y convertirse de esta forma, en un Señor de la Ceniza..</p>

<p>Hay una forma más en que Dark Souls nos cuenta su historia, es a través de la música misma del juego. La música en Dark Souls actúa como un narrador de historias
 propia, explora la historia de fondo de algunos de los jefes con bastante rapidez, pero es posible que no te des cuenta de esto en tu primera escucha. Cuando escuches
  la música con más cuidado, notarás pistas que te dicen sus orígenes, intenciones e incluso conexiones en la tradición de Dark Souls.</p>
			
     <h3 class="h3soundtrack">Soundtracks</h3> 	
	
</div>



<div class="grid-container">
    <div class="grid-item">
        <div >Titulo</div>
        <div >Composicion</div>
        <div >Uso</div> 
    </div> 

    <div class="grid-item">
        <div> <a href="https://www.youtube.com/watch?v=pqyi3JuhthM">Main Theme</a></div>
        <div >Single track</div>
        <div >DarkSouls 3: Menu principal </div> 
    </div> 
    <div class="grid-item">
        <div ><a href="https://www.youtube.com/watch?v=j6uGEQ8uByo">Prologue</a></div>
        <div >Single track</div>
        <div >Prologue</div> 
    </div> 
    <div class="grid-item">
        <div ><a href="https://www.youtube.com/watch?v=U0MdnNCC3j0">Premonition</a></div>
        <div >desconocido</div>
        <div > Premonition</div> 
    </div> 
    <div class="grid-item">
        <div ><a href="https://www.youtube.com/watch?v=HUFVll1wFi0">FireLink Shrine</a></div>
        <div >Single track</div>
        <div >FireLink Shrine
            </div> 
    </div> 

    <div class="grid-item">
        <div ><a href="https://www.youtube.com/watch?v=R415WZruPdE">Iudex Gundyr</a></div>
        <div > Single track </div>
        <div >Iudex Gundyr </div> 
    </div> 


	</body  >
	 
</html>