<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		
		<script th:src="@{/js/jquery/jquery-3.6.0.js}"></script>
		<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
	</head>
	<body class="enderbackground">
		<div class="container-fluid">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<!-- Brand/logo -->
			<a class="navbar-brand" href="index">MENU</a>

			<!-- Links -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="listaJuegos">lista</a>
				</li>
			
				<li class="nav-items">
					<a class="nav-link" th:href="@{/logout}">Cerrar sesión</a>
				</li>
			</ul>
		</nav>



 <div class="col-sm-8"  >
      <h2><u>ENDER LILIES</u></h2>
     
     
      
      <p>La música del juego fue compuesta e interpretada por Mili, un grupo indie clásico japonés formado por Yamato Kasai, Cassie Wei, Yukihito Mitomo, Shoto Yoshida y Ao Fujimori.
       El soundtrack consta de un solo disco que contiene las 50 canciones con un poco mas de 1 hora y 30 minutos de duracion. </p>
       
       <h3 class="h2false">Descripcion</h3>
       

<div class="row m-5   ">
			<div class="row">
				<div class="col-lg-4 mb-4">
					
					<img class="w-100 mb-4" th:src="@{/img/enderSoundtrack.jpg}">
			
<p>Fechas de lanzamiento:<br>Lanzamiento Gigital: junio 22, 2021 (applemusic), 	Junion 21, 2021(Vgmdb)<br>
Vinyl release: none</p>
<p>Creditos Adicionales:<br>
 Adglobe
</p>


				</div>
				<div class="col-lg-4 mb-4 ">
				<p>Hace mucho tiempo, en los lejanos confines de Land's End, 
				una lluvia imprevista transformó a todos los seres vivos en monstruosidades frenéticas de muertos vivientes conocidas como los Arruinados. 
				Ante una calamidad mucho más allá de su entendimiento, el reino cayó en la ruina sin que la lluvia maldita a la vista tuviera fin.Mientras tanto, 
				en los restos de esta tierra devastada, una joven llamada Lily despierta en las profundidades de una iglesia...</p>

<p>             Esta banda sonora es tan fascinante y hechizante. El sonido es tan único pero original,dandote una inmercion casi perfecta a lo que esta aconteciendo en el momento.</p>
			
     <h3 class="h3soundtrack">Soundtracks</h3clas=>	
	
</div>



<div class="grid-container">
    <div class="grid-item">
        <div >Titulo</div>
        <div >Composicion</div>
        <div >Uso</div> 
    </div> 

    <div class="grid-item">
        <div> <a href="https://www.youtube.com/watch?v=PTKl17TXqyo">Lily</a></div>
        <div >Single track</div>
        <div >Lily</div> 
    </div> 
    <div class="grid-item">
        <div ><a href="https://www.youtube.com/watch?v=_YPcdwZihnM">Prologue</a></div>
        <div >Single track</div>
        <div >Prologue</div> 
    </div> 
    <div class="grid-item">
        <div ><a href="https://www.youtube.com/watch?v=ctiZlAhQmkw">Main Theme</a></div>
        <div >Single track</div>
        <div >Main Theme menu</div> 
    </div> 
    <div class="grid-item">
        <div ><a href="https://www.youtube.com/watch?v=DgHZV4lbDpY">Awakening</a></div>
        <div >Single track</div>
        <div> Awakening</div> 
    </div> 

    <div class="grid-item">
        <div ><a href="https://www.youtube.com/watch?v=Yd6JjgdQsbE">Rosary - Intro</a></div>
        <div >Single track</div>
        <div >Rosary boss battle 1ra fase</div> 
    </div> 

   



	</body  >
	 
</html>