<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		
		<script th:src="@{/js/jquery/jquery-3.6.0.js}"></script>
		<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
	</head>
	<body class="enderbackground">
		<div class="container-fluid">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<!-- Brand/logo -->
			<a class="navbar-brand" href="index">menu</a>

			<!-- Links -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="listaJuegos">lista</a>
				</li>
			
				<li class="nav-items">
					<a class="nav-link" th:href="@{/logout}">Cerrar sesión</a>
				</li>
			</ul>
		</nav>



 <div class="col-sm-8"  >
      <h2>ENDER LILIES</h2>
     
     
      
      <p>La banda sonora original de Hollow Knight fue compuesta e interpretada por Christopher Larkin, y algunos otros artistas.
       Se divide en dos álbumes, uno para el juego original y otro recopilando las nuevas pistas compuestas para los cuatro paquetes de contenido(DLC). 
       Las pistas en los álbumes a menudo se componen de varias suites musicales para situaciones de juego. Algunos otros, principalmente remixes, 
       también fueron omitidos..</p>
       
       <h3 class="h2false">Descripcion</h3>
       

<div class="row m-5   ">
			<div class="row">
				<div class="col-lg-4 mb-4">
					
					<img class="w-100 mb-4" th:src="@{/img/enderSoundtrack.jpg}">
			
<p>Fechas de lanzamiento:<br>Lanzamiento Gigital: Febrero 10, 2017 (Bandcamp), Febrero 24, 2017(GOG, Humble Store)
Vinyl release: Abril, 2018</p>
<p>Creditos Adicionales:<br>
Viola: Timothy Cheel
Soprano (City of Tears): Amelia Jones</p>


				</div>
				<div class="col-lg-4 mb-4 ">
				<p>Debajo de la ciudad desvanecida de Dirtmouth duerme un antiguo y olvidado reino. Muchos son atraídos bajo la superficie, en busca de riquezas, 
				gloria o respuestas a viejos secretos. Desciende a Hallownest, atraviesa las profundidades, desentraña sus misterios y conquista sus males.</p>

<p>La puntuación de Hollow Knight captura el vasto mundo subterráneo del juego. La historia comienza con suaves notas de piano que se hacen eco del tema de Hollow 
Knight, y a medida que el jugador explora más, las fuerzas orquestales se hinchan a una escala operística a medida que se desarrolla el destino del caballero.</p>
			
     <h3 class="h3soundtrack">Soundtracks</h3clas=>	
	
</div>



<div class="grid-container">
    <div class="grid-item">
        <div >Titulo</div>
        <div >Composicion</div>
        <div >Uso</div> 
    </div> 

    <div class="grid-item">
        <div> <a href="https://www.youtube.com/watch?v=eqispO2Bi2k">Enter hallownest</a></div>
        <div >Single track</div>
        <div >Hollow Knight: Ferocious Foes Trailer</div> 
    </div> 
    <div class="grid-item">
        <div ><a href="https://www.youtube.com/watch?v=eqispO2Bi2k">Boca Sucia</a></div>
        <div >Single track</div>
        <div >bocasucia</div> 
    </div> 
    <div class="grid-item">
        <div ><a href="https://www.youtube.com/watch?v=eqispO2Bi2k">Cruces olvidados</a></div>
        <div >Ambiente
            Accion
            Mounds Theme</div>
        <div > Ambiente,
            Cruces Olvidados, Nido profundo y Cuenca Antigua,  segmentos de accion
           , Overgrown y Monticulos Cristalizados</div> 
    </div> 
    <div class="grid-item">
        <div >Falso Caballero</div>
        <div >Single track</div>
        <div >Falso Caballero/Campeon Caido
            ,Caballero vigia,
            The Hunter cut short</div> 
    </div> 

    <div class="grid-item">
        <div >Sendero Verde<a href="https://www.youtube.com/watch?v=eqispO2Bi2k">Enter hallownest</a></div>
        <div >Ambiente,
            Accion,
            paramos,fungicos</div>
        <div >Sendero verde, , segmentos de accion, Rey Vengamosca, Musgoagresor gigante,
            Paramos Fungicos</div> 
    </div> 

   


	</body  >
	 
</html>