<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		
		<script th:src="@{/js/jquery/jquery-3.6.0.js}"></script>
		<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
	</head>
	<body class="hollowbackground">
		<div class="container-fluid">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<!-- Brand/logo -->
			<a class="navbar-brand" href="#">Logo</a>

			<!-- Links -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="#">lista</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">miau</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/logout}">Cerrar sesión</a>
				</li>
			</ul>
		</nav>



 <div class="col-sm-8"  >
      <h2>HOLLOW KNIGHT</h2>
     
     
      
      <p>La banda sonora original de Hollow Knight fue compuesta e interpretada por Christopher Larkin, y algunos otros artistas.
       Se divide en dos álbumes, uno para el juego original y otro recopilando las nuevas pistas compuestas para los cuatro paquetes de contenido. 
       Las pistas en los álbumes a menudo se componen de varias suites musicales para situaciones de juego. Algunos otros, principalmente remixes, 
       también fueron omitidos..</p>

<div class="row m-5   ">
			<div class="row">
				<div class="col-lg-4 mb-4">
					
					<img class="w-100 mb-4" th:src="@{/img/R.jpg}">
					<p>ENDER LILIES: Quietus of the Knights original soundtrack by Mili</p>

				</div>
				<div class="col-lg-4 mb-4 ">
				<p>Debajo de la ciudad desvanecida de Dirtmouth duerme un antiguo y olvidado reino. Muchos son atraídos bajo la superficie, en busca de riquezas, 
				gloria o respuestas a viejos secretos. Desciende a Hallownest, atraviesa las profundidades, desentraña sus misterios y conquista sus males.</p>

<p>La puntuación de Hollow Knight captura el vasto mundo subterráneo del juego. La historia comienza con suaves notas de piano que se hacen eco del tema de Hollow 
Knight, y a medida que el jugador explora más, las fuerzas orquestales se hinchan a una escala operística a medida que se desarrolla el destino del caballero.</p>
				</div>



	<div class="row m-5 text-white  ">
			<div class="row">
				<div class="col-lg-4 mb-4">
				<iframe width="330" height="166" src="https://www.youtube.com/embed/eqispO2Bi2k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

				</div>
				<div class="col-lg-4 mb-4 ">
					<h3>Ori And The Blind Forest </h3>
					<img class="w-100 mb-4" th:src="@{/img/oriandtheblindforest.jpg}">
					<p>ORI AND THE BLIND FOREST soundtrack by Gareth Coker</p>
				</div>
				<div class="col-lg-4 mb-4">
					<h3>Dark Souls 3</h3>
					<img class="w-100 mb-4" th:src="@{/img/darkSouls3.jpg}">
					<p>DARK SOULS 3 soundtrack by Various Persons</p>
				</div>
			</div>



	</body  >
</html>