<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		
		<script th:src="@{/js/jquery/jquery-3.6.0.js}"></script>
		<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
	</head>
	<body class="nierbackground">
		<div class="container-fluid">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<!-- Brand/logo -->
			<a class="navbar-brand" href="index">MENU</a>

			<!-- Links -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="listaJuegos">lista</a>
				</li>
			
				<li class="nav-items">
					<a class="nav-link" th:href="@{/logout}">Cerrar sesión</a>
				</li>
			</ul>
		</nav>



 <div class="col-sm-8"  >
      <h2><u> NIER AUTOMATA</u></h2>
     
     
      
      <p>Su música fue compuesta por Keiichi Okabe y el equipo de Monaca.El álbum de tres discos, 3:33:43 de duración contiene toda la música del juego,
       así como, al igual que el álbum original del juego,variaciones sobre el tema principal en varios idiomas.
       Nier siguio sacando mas pistas a lo largo de los años ya sea remasterizando, cambiando estilos o sacando canciones ineditas añgunos de estos discos son  
       NieR: Automata Original Soundtrack HACKING TRACKS,NieR:Automata Arranged & Unreleased y NieR: Automata Piano. </p>
       
       <h3 class="h2false">Descripcion</h3>
       

<div class="row m-5   ">
			<div class="row">
				<div class="col-lg-4 mb-4">
					
					<img class="w-100 mb-4" th:src="@{/img/niersoundtrack.jpg}">
			
<p>Fechas de lanzamiento:<br>Lanzamiento Gigital: Febrero 10, 2017 (Bandcamp), Febrero 24, 2017(GOG, Humble Store)
Vinyl release: Abril, 2018</p>
<p>Creditos Adicionales:<br>
Guitarra: Takanori Goto<br> 
Vocales:Emi Evans, J'Nique Nicole y Nami Nakagawa</p>


				</div>
				<div class="col-lg-4 mb-4 ">
				<p>NieR: Automata cuenta la historia de los androides 2B, 9S y A2 y su batalla para recuperar la distopía impulsada por máquinas.
La humanidad ha sido expulsada de la Tierra por seres mecánicos de otro mundo. En un esfuerzo final por recuperar el planeta, la resistencia humana envía una fuerza de soldados 
androides para destruir a los invasores. Ahora, una guerra entre máquinas y androides continúa... Una guerra que pronto podría revelar una verdad del mundo que fue olvidada hace mucho tiempo..</p>

<p>Estas exquisitas composiciones estan llenas de todas las canciones que hacen que reproducir NieR: Automata sea tan memorable. Entonces,
 ¿por qué no sentarse y disfrutar del conmovedor y emocional mundo de la música de NieR?"</p>
			
     <h3 class="h3soundtrack">Soundtracks</h3>	
	
</div>



<div class="grid-container">
    <div class="grid-item">
        <div >Titulo</div>
        <div >Composicion</div>
        <div >Uso</div> 
    </div> 

    <div class="grid-item">
        <div> <a href="https://www.youtube.com/watch?v=wBIyG0taPR8">Significance - Nothing</a></div>
        <div >Single track</div>
        <div >Significance - Nothing</div> 
    </div> 
    <div class="grid-item">
        <div ><a href="www.youtube.com/watch?v=Bvk40kImAgo">City Ruins - Rays of Light</a></div>
        <div >Single track</div>
        <div >bocasucia</div> 
    </div> 
    <div class="grid-item">
        <div ><a href="https://www.youtube.com/watch?v=eqispO2Bi2k">Cruces olvidados</a></div>
        <div >Ambiente
            Accion
            Mounds Theme</div>
        <div > Ambiente,
            Cruces Olvidados, Nido profundo y Cuenca Antigua,  segmentos de accion
           , Overgrown y Monticulos Cristalizados</div> 
    </div> 
    <div class="grid-item">
        <div >Falso Caballero</div>
        <div >Single track</div>
        <div >Falso Caballero/Campeon Caido
            ,Caballero vigia,
            The Hunter cut short</div> 
    </div> 

    <div class="grid-item">
        <div >Sendero Verde<a href="https://www.youtube.com/watch?v=eqispO2Bi2k">Enter hallownest</a></div>
        <div >Ambiente,
            Accion,
            paramos,fungicos</div>
        <div >Sendero verde, , segmentos de accion, Rey Vengamosca, Musgoagresor gigante,
            Paramos Fungicos</div> 
    </div> 

   


	</body  >
	 
</html>