<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		
		<script th:src="@{/js/jquery/jquery-3.6.0.js}"></script>
		<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
	</head>
	<body class="oribackground">
		<div class="container-fluid">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<!-- Brand/logo -->
			<a class="navbar-brand" href="index">MENU</a>

			<!-- Links -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="listaJuegos">lista</a>
				</li>
			
				<li class="nav-items">
					<a class="nav-link" th:href="@{/logout}">Cerrar sesión</a>
				</li>
			</ul>
		</nav>



 <div class="col-sm-8"  >
      <h2><u>ORI AND THE BLIND FOREST</u></h2>
     
     
      
      <p>The Ori and the Blind Forest (Original Soundtrack) contiene 32 pistas 
      y fue compuesta por Gareth Coker con Aeralie Brighton, Tom Boyd y Rachel Mellis. Fue lanzado el 10 de marzo de 2015 con una duracion casi de 90 minutos. Tiempo despues en la edicion deluxe
      del juego anunciaron Ori and the Blind Forest (Banda sonora adicional)  que contaba con 29 pistas de Ori and the Blind Forest: Definitive Edition,y algunas canciones de prototipos
       y trailers sin usar. Algunas canciones también se incluyeron en el juego original, pero que no fueron lanzadas en Ori and the Blind Forest (Banda sonora original).
        Fue lanzado el 11 de marzo de 2016. </p>
       
       <h3 class="h2false">Descripcion</h3>
       

<div class="row m-5   ">
			<div class="row">
				<div class="col-lg-4 mb-4">
					
					<img class="w-100 mb-4" th:src="@{/img/oriSoundtrack.jpg}">
			
<p>Fechas de lanzamiento:<br>Lanzamiento Gigital:2015 (spotify), 2015(microsoft store music)
Lanzamiento de Vinilo :  Abril 29, 2016</p>
<p>Creditos Adicionales:<br>
None</p>


				</div>
				<div class="col-lg-4 mb-4 ">
				<p>El bosque de Nibel se está muriendo.Después de que una poderosa tormenta pone en marcha una serie de eventos devastadores,
				 Ori debe viajar para encontrar coraje y enfrentarse a una oscura némesis para salvar el bosque de Nibel.</p>

<p> explora una historia profundamente emotiva a traves de la musica que representa de muy buena manera todo el ambiente, dandonos escenas de que el amor, el sacrificio, 
y la esperanza  existe en todos nosotros.</p>
			
     <h3 class="h3soundtrack">Soundtracks</h3clas=>	
	
</div>



<div class="grid-container">
    <div class="grid-item">
        <div >Titulo</div>
        <div >Composicion</div>
        <div >Uso</div> 
    </div> 

    <div class="grid-item">
        <div> <a href="https://www.youtube.com/watch?v=U-tWqEod9Ig">Ori, Lost In the Storm </a></div>
        <div >Single track</div>
        <div >Prologo,durante La Gran tormenta</div> 
    </div> 
    <div class="grid-item">
        <div ><a href="https://www.youtube.com/watch?v=qJaWzAcBYEg">Naru, Embracing the Light</a></div>
        <div >Single track</div>
        <div >Prologo,cuando Ori y Naru estan juntos</div> 
    </div> 
    <div class="grid-item">
        <div ><a href="https://www.youtube.com/watch?v=5dmWyIjPfAo">Calling Out</a></div>
        <div >Simple track</div>
        <div >Prologo, después de la Ceremonia de la Luz,cuando Nibel se quedó ciega </div> 
    </div> 
     

    <div class="grid-item">
        <div ><a href="https://www.youtube.com/watch?v=SbQrYomCG1M">The Blinded Forest</a></div>
       <div >Simple track</div>
        <div >Prologo, 
Primero Suena cuando Naru intenta obtener bayas, segundo suena cuando Ori obtiene bayas y finalmente cuando Ori está afuera y trae frutos a Naru</div> 
    </div> 
<div class="grid-item">
        <div ><a href="https://www.youtube.com/watch?v=MKN-NCiYEsM">Inspiriting</a></div>
       <div >Simple track</div>
        <div >Prologo,La primera mitad de la musica Cuando Ori esta solo y agotado despues de la muerte de Naru y la segunda mitad  
        es cuando Ori es revivido por el Arbol espiritual al final del prologo.</div> 
    </div> 

   


	</body  >
	 
</html>