<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		
		<script th:src="@{/js/jquery/jquery-3.6.0.js}"></script>
		<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
	</head>
	<body class="portalbackground">
		<div class="container-fluid">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<!-- Brand/logo -->
			<a class="navbar-brand" href="index">MENU</a>

			<!-- Links -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="listaJuegos">lista</a>
				</li>
			
				<li class="nav-items">
					<a class="nav-link" th:href="@{/logout}">Cerrar sesión</a>
				</li>
			</ul>
		</nav>



 <div class="col-sm-8"  >
      <h2><u>PORTAL 2</u></h2>
     
     
      
      <p>La música del juego incluye partituras originales compuestas por Mike Moraskyde Valve,
       y dos canciones originales proporcionadas por Jonathan Coulton y la banda The National. 
       La mayor parte de la música fue lanzada como una descarga disponible gratuitamente en 
       tres volúmenes, titulada Songs to Test By, y más tarde en una edición de coleccionista 
       minorista de cuatro discos que incluía música de Portal.</p>
       
       <h3 class="h2false">Descripcion</h3>
       

<div class="row m-5   ">
			<div class="row">
				<div class="col-lg-4 mb-4">
					
					<img class="w-100 mb-4" th:src="@{/img/portalsoundtrack.jpg}">
			
<p>Fechas de lanzamiento:<br>Lanzamiento Gigital: septiembre 24, 2014 (steam), octubre 30, 2012(applemusic)<br>
Lanzamiento de Vinilo:None</p>
<p>Creditos Adicionales:<br>
Vocals: (Still Alive) Ellen McLain
</p>


				</div>
				<div class="col-lg-4 mb-4 ">
				<p>Muchos años después de los eventos de "Portal", Chell es despertado de la estasis por un núcleo de personalidad hablador llamado Wheatley
				 para encontrar a los Laboratorios de Ciencias de Aperture desmoronándose. En el intento del dúo de escapar, terminan despertando a GLaDOS, 
				 que es tan fria y calculadora como siempre, y lista para hacer algo mas de ciencia.</p>

<p>La banda sonora es algo discreta salvo la canción de los créditos. Pero creo que este juego la musica discreta funciona mejor, ayuda a que sea más inmersivo.</p>
			
     <h3 class="h3soundtrack">Soundtracks</h3clas=>	
	
</div>



<div class="grid-container">
    <div class="grid-item">
        <div >Titulo</div>
        <div >Composicion</div>
        <div >Uso</div> 
    </div> 

    <div class="grid-item">
        <div> <a href="https://www.youtube.com/watch?v=oAg4yjEmerU">Science is Fun</a></div>
        <div >Single track</div>
        <div >Science is Fun</div> 
    </div> 
    <div class="grid-item">
        <div ><a href="https://www.youtube.com/watch?v=eqispO2Bi2k"> Concentration Enhancing Menu Initialiser</a></div>
        <div >ambiente,accion</div>
        <div >Menu principal, en uno de los niveles de prueba de glados</div> 
    </div> 
    <div class="grid-item">
        <div ><a href="https://www.youtube.com/watch?v=wgVTmt6t3hg">9999999</a></div>
        <div >Single track</div>
        <div >En el prologo, cuando Chell despierta de la estasis luego de una una cantidad indeterminada de tiempo</div> 
    </div> 
    <div class="grid-item">
        <div ><a href="https://www.youtube.com/watch?v=DuC6fqK1swQ">The Courtesy Call</a></div>
        <div >Single track</div>
        <div >Prologo,Cuando Wheatley intenta sacarte de tu cuarto de estasis chocando en el proceso a todos las demas cuartos del sector</div> 
    </div> 

    <div class="grid-item">
        <div ><a href="https://www.youtube.com/watch?v=-EQsK-v_6aA&t=0s">Technical Difficulties</a></div>
        <div >Single track</div>
        <div >Se reproduce en la primera cámara (donde caes desde arriba en la sala de inicio del portal 1).</div> 
    </div> 

   


	</body  >
	 
</html>